/node_modules
/public/hot
/public/disposisi_storage
/public/surat_storage
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
